.card-body {
    overflow: hidden;
}
.icon {
    height: 100px;
    width: 100px;
    padding: 16px;
}
.heroAnim {
    animation: fadeCom 0.5s ease-in-out forwards;
}
.delete {
    animation: fadeDelete 0.5s ease-in-out forwards;
}
@keyframes fadeCom {
    from {
        transform: translateX(-400px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }
  @keyframes fadeDelete {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-400px);
        opacity: 0;
    }
  }